*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

/* menu */

.menu{
  background-color: rgba(0,0,0,0.75);
  color: white;
  width: 250px;
  height: 50%;
  position: absolute;
  font-weight: bold;
}

.menu_description{
  background-color: rgba(0,0,0,0.75);
  color: white;
  position: absolute;
  font-weight: bold;
  padding: 9px;
  font-size: 1.2em;
}

.menu h1{
  background-color: rgba(255,0,0,0.75);
  color: white;
  text-align: center;
  font-size: 1.6em;
  padding: 6px;
}

.choices div{
  padding: 6px;
  font-size: 1.3em;
}

.choices .selected{
  background-color: rgba(255,255,255,0.90);
  color: black;
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wprompt h1{
  font-size: 1.1em;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid rgba(255,255,255,0.30);
  flex: 1;
  color: white;
  width: 100%;
  padding: 4px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 0.9em;
  font-style: italic;
  padding: 3px;
}
